<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite">
  <test thread-count="5" name="AutomationTest">
    <classes>
      <class name="automation_test.BicPen_Test"/>
      <class name="automation_test.BicPen_Test2"/>     
    </classes>
  </test>
</suite> 
